#!/usr/bin/python

import psycopg2

{% for user in users %}
con = psycopg2.connect(
    database="{{ user['db'] }}", user="{{ user['name'] }}", password="{{ user['password'] }}", host="127.0.0.1", port="5432")
{% endfor %}
